@model IEnumerable<Product>

@{
    ViewData["Title"] = "ViewProducts";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h1>ViewProducts</h1>


<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ProductName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
