@model ChangePasswordViewModel


    <div class="col-12">
        @if ((bool)TempData["PasswordChangeSuccess"])
        {
            var text = "Password succesfuly updated";

            <partial name="_SuccessAlert" model="text" />
        }

        <hr />

        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input asp-for="UserId" class="form-control" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Update Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
<hr />

<div class="col-12">
    <a asp-action="Products" asp-controller="Home">Back to List</a>
</div>

