<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    

    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="_NavBar" />
    <div class="container">
        <div class="row">
            @RenderBody()



        </div>
    </div>
    <script scr="~/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
