@model MusicShop.Models.ViewModels.RoleViewModel

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}



<div class="col-md-4">
    <h1>Create Role</h1>
    <form asp-action="Create">
        <div asp-validation-summary="All" class="alert  alert-danger @((ViewContext.ViewData.ModelState.Count==0) ?  "invisible" : "") " role="alert"></div>


        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>



    <a href="@ViewBag.returnUrl">Back to List</a>
</div>



